In [27]:
import pandas as pd 

EAGLE_aggression_Public_2 = pd.read_csv("/Users/npatel/Desktop/Dr.Chen_Lab/EAGLE_aggression_Public_2(unmatched chrom data SNP).txt", sep = '\s+', names =['SNP'] )
chrom_data = pd.read_csv("/Users/npatel/Desktop/Dr.Chen_Lab/snp126.txt", sep='\s+', names = ['chrom', 'chromEnd','SNP'], usecols = [1,3,4])
EAGLE_aggression_Public_2.rename(columns={'0':'SNP'}, inplace=True)
chrom_data.rename(columns={'4':'SNP'}, inplace=True)

chrom_data

                 chrom  chromEnd         SNP
0         chr10_random       491  rs28694205
1         chr10_random      1145   rs6586056
2         chr10_random      2007  rs17428716
3         chr10_random      2027  rs34651668
4         chr10_random      2081  rs34995994
...                ...       ...         ...
12351936          chrY  57770497   rs4013701
12351937          chrY  57770637   rs3878811
12351938          chrY  57770683   rs4013699
12351939          chrY  57771705   rs7341970
12351940          chrY  57771915  rs12353930

[12351941 rows x 3 columns]

In [25]:
#compare chrom data to Eagle data by RS#
merge1 = pd.merge(EAGLE_aggression_Public_2, chrom_data, on = "SNP",  how='outer', indicator=True)

# RSname only in Eagle data
missing = merge1.loc[merge1["_merge"] == "both"].drop("_merge", axis=1)
missing.to_csv("EAGLE_aggression_Public_2_FOUND.csv",index = False)
missing

             SNP  chrom   chromEnd
0     rs12182264   chr6  167109951
1      rs4131818   chr5   41880172
2     rs11153570   chr6  115924472
3     rs10735697  chr13   23584077
4      rs4348205   chr5  113888946
...          ...    ...        ...
1761  rs10755615   chr6   21714658
1762  rs10945958   chr6  164456745
1763   rs3736633   chr2  227662843
1764   rs2662733   chr4  121379679
1765   rs3858895  chr15   59792702

[1766 rows x 3 columns]