In [1]:
#make bim file from 1KG_phase3_v5b (done)

#/mnt/data_schen_1/jingchun/dbgap_AI_project/reference/ALL_1KG_phase3_v5a/
#ALL.chr1-22.phase3_v5a_final.bim

#1. make a list 
#chr:bp rs#
#ex: 1:2000 rs123 
#no header

#Import libraries 
import pandas as pd 
import numpy as np

In [2]:
#Root directory for Task 
root = '/Users/npatel/Desktop/Dr.Chen_Lab/Neel_Data_Results/Task4-All.chr1-22.phase_v5a_final'

#Import Data 
All = pd.read_csv("/Users/npatel/Desktop/Dr.Chen_Lab/Neel_Data_Results/Task4-All.chr1-22.phase_v5a_final/ALL.chr1-22.phase3_v5a_final.bim", sep = '\s+',header =None )

In [3]:
All = All[[0,1,3]]
All[0] = All[0].astype(str) + ':' + All[3].astype(str)
All = All[[0,1]]
All

                    0            1
0             1:10177  rs367896724
1             1:10235  rs540431307
2             1:10352  rs555500075
3             1:10616  rs376342519
4             1:10642  rs558604819
...               ...          ...
28344004  22:51241102  rs533336397
28344005  22:51241285    rs7287738
28344006  22:51241386  rs568168135
28344007  22:51244163  rs199560686
28344008  22:51244237  rs575160859

[28344009 rows x 2 columns]

In [5]:
All.to_csv("/Users/npatel/Desktop/Dr.Chen_Lab/Neel_Data_Results/Task4-All.chr1-22.phase_v5a_final/ALL.chr1-22.phase3_v5a_final_chrbp_rs.bim", sep = ' ',header = False, index = False)