In [5]:
import pandas as pd
import numpy as np
import re

In [21]:
All_SNP = pd.read_csv("/Users/npatel/Desktop/Dr.Chen_Lab/Neel_Data_Results/Task5-UpdateSCZ_BP_MD_All/SCZ_BP_MD_All_1e-5_SNP.list", sep = '\s+', header = None)
All_SNP.rename(columns = {0:"RS"},inplace = True)
All_SNP['RS'] = All_SNP['RS'].astype(str)

In [22]:

All_SNP['RS'] = All_SNP['RS'].str.split('>').str[0]

In [23]:
All_SNP['RS'] = All_SNP['RS'].str.split('<').str[0]

                RS
0        rs1889853
1        rs3795310
2        rs2636314
3        rs2708628
4        rs2708631
...            ...
78844    rs9870634
78845    rs4682749
78846    rs9812663
78847    rs2279908
78848  rs139129362

[78849 rows x 1 columns]